<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=1000; user-scalable=0;" />
	<!-- <meta name="viewport" content="width=device-width,initial-scale=1.0"> -->
	<title>Contact Form Design</title>
	<link rel="stylesheet" href="/assets/contact.css.scss">


</head>
<body>

<div class="wrap">
	<div class="container">
		<!-- <div>
			<img class="dog-divider" src="https://lh3.googleusercontent.com/agJNVyc_WO3aAra3qS3XpuHm1T2pmhZDtEFZQ_VW4mvktv_EUFR_VWrQHuidPws6dMtY3zFe_rufSuQK5tw1rlgBfEgFFo8RF7AD8z_uekreAbl5UK_y6Ry2F03WM3Y9suE726bANg" alt="bh-divider">
		</div><br> -->
			<p class="contact-header">CONTACT</p>

		<div class="call-email">
			<p>
				Are you interested in learning more about what we have to offer you? We are more than happy to provide additional information about our bar. For more information, or any questions you have, contact us through the form below. <br><br>

				Please be sure to include your name, email, phone, and the specific question. You will receive a confirmation after submitting the form, and we will respond as quickly as possible for your satisfaction. <br><br>

				Phone:
				(877) 746-0528 <br><br>

				
				Email: <a href="mailto:info@juliusbarny.com", style="color:turquoise">info@juliusbarny.com</a><br><br>

 
 
				We look forward to hearing from you. Contact us by phone, email, or the form below today!
			</p>
		</div>

<!-- Contact Form -->
			<div class="contact-form">
				<%= form_for @comment do |f| -%><br>
				<%= f.text_field :name, :required => true, :placeholder => "Name", size: '40'  %><br><br>
				<%= f.text_field :email, :required => true, :placeholder => "Email", size: '40'  %><br><br>
				<%= f.text_field :message, :required => true, :placeholder => "Message", size: '40' %><br><br>
				<%= f.submit "Send it our way!", :class => 'submit-button' %>
				<% end -%>
			</div>


	<!-- <hr> -->
		<div>
			<img class="dog-divider" src="https://lh3.googleusercontent.com/agJNVyc_WO3aAra3qS3XpuHm1T2pmhZDtEFZQ_VW4mvktv_EUFR_VWrQHuidPws6dMtY3zFe_rufSuQK5tw1rlgBfEgFFo8RF7AD8z_uekreAbl5UK_y6Ry2F03WM3Y9suE726bANg" alt="bh-divider">
		</div>
	<!-- <hr> -->
	


			<div class="hours-of-operation">

				<p>Hours of Operation
					Monday–Saturday,
					11:00 a.m.–4:00 a.m.
					Sunday,
					12:00 p.m.–3:00 a.m. <br><br>

					Located on 10th Street and Waverly. At Penn Station,
					Take the #1 Train to Christopher Street, the #2 or #3 Train to 14th Street
					or the A, C, E, B, D, or F Train to West 4th Street!
				</p><br><br>

			</div> 

<!-- Good Map On Page! -->
		<div class="geo-map">
			<iframe width="500" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJURY2PJRZwokR7izijNRaHa8&key=AIzaSyAAS-pA-TcqTK88K4vqnGh8oYqZuhr5I8E" allowfullscreen></iframe><br><br><br>
		</div>

<!-- Previous end of wrap and container. See below.  -->
<!-- 	</div>
</div> -->

			

		<div class="contact-specials">
	
			<p>Monday-Saturday<br>Happy Hour Specials 4pm to 9pm!!</p><br>

			<p>Sunday Beer Blast!!<br>All Bottled and Tap Beers $2.00 Off Regular Price!!</p><br>

			<p>All Day Everyday!! <br>$6.00 Long Island Ice tea!! All Day! Everyday Drink Special!!</p>
		</div>
<!-- End of wrap and container -->
	</div>
</div>
	
</body>
</html>



